---

---

<!doctype html>
<html class="h-100">
  <head>
    <title>VPHP - vanilla php packages</title>

    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge, chrome=1" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />

    <link
      rel="stylesheet"
      href="https://unpkg.com/tachyons@4.12.0/css/tachyons.css"
    />
    <!-- <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-GLhlTQ8iRABdZLl6O3oVMWSktQOp6b7In1Zl3/Jr59b6EGGoI1aFkw7cmDA6j6gD" crossorigin="anonymous"> -->
    <!-- <script src="https://cdn.tailwindcss.com"></script> -->
    <!-- <link rel="stylesheet" href="https://unpkg.com/@picocss/pico@latest/css/pico.min.css"> -->

    <!-- <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.3/jquery.min.js" integrity="sha512-STof4xm1wgkfm7heWqFJVn58Hm3EtS31XFaagaa8VMReCXAkQnJZ+jEy8PCC/iT18dFy95WcExNHFTqLyp72eQ==" crossorigin="anonymous" referrerpolicy="no-referrer"></script> -->
    <!-- <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.bundle.min.js" integrity="sha384-w76AqPfDkMBDXo30jS1Sgez6pr3x5MlQ1ZAGC+nuZB+EYdgRZgiwxhTBTkF7CXvN" crossorigin="anonymous"></script> -->
    <!-- <script src="https://unpkg.com/alpinejs" defer></script> -->
    <!-- <script src="https://unpkg.com/htmx.org@1.7.0" integrity="sha384-EzBXYPt0/T6gxNp0nuPtLkmRpmDBbjg6WmCUZRLXBBwYYmwAUxzlSGej0ARHX0Bo" crossorigin="anonymous" defer></script> -->

    <script
      src="https://beamanalytics.b-cdn.net/beam.min.js"
      data-token="4345c349-059a-42dd-8483-67b7c0730da6"
      async
    ></script>

    <style>
      .sys-blue {
        color: blue;
      }
      .bg-sys-blue{
        background-color: blue;
      }
      .hover-bg-sys-blue:hover{
        background-color: blue;
      }
      .hover-white:hover{
        color: white;
      }
    </style>
  </head>
  <body class="h-100 sans-serif">
    <div class="dt h-100 center">
      <div class="dtc v-mid tc lh-copy">
        <!-- <span class="f-headline b">VPHP</span> -->
         <img class="w5 center" src="/vphp-logo.png" />
<div class="f5 fw5 mt2 mb3">
        VANILLA PHP PACKAGES<br />
        NO DEPENDENCIES</div>
        <a
          class="sys-blue hover-bg-sys-blue hover-white"
          target="_blank"
          href="https://github.com/jyoungblood/dbkit">dbkit</a
        ><br />
        <a
          class="sys-blue hover-bg-sys-blue hover-white"
          target="_blank"
          href="https://github.com/jyoungblood/cookie">cookie</a
        ><br />
        <a
          class="sys-blue hover-bg-sys-blue hover-white"
          target="_blank"
          href="https://github.com/jyoungblood/http-request">http-request</a
        ><br />
        <a
          class="sys-blue hover-bg-sys-blue hover-white"
          target="_blank"
          href="https://github.com/jyoungblood/x-utilities">x-utilities</a
        ><br />
        <!-- <a target="_blank" href="https://github.com/jyoungblood/tigershark">tigershark</a> -->
      </div>
    </div>

    <!-- <script src="https://instant.page/5.1.1" type="module" integrity="sha384-MWfCL6g1OTGsbSwfuMHc8+8J2u71/LA8dzlIN3ycajckxuZZmF+DNjdm7O6H3PSq"></script> -->
    <!-- <script src="https://cdn.skypack.dev/@hotwired/turbo"></script> -->
    <!-- 
  <div class="tc pv3">
    <a target="_blank" href="https://hxgf.io"><img class="w3 dib" src="./images/hxgf-bug.svg" /></a><br />
    <a target="_blank" class="f6 black" href="https://github.com/jyoungblood/vphp.dev">src</a>
  </div> -->

    <a
      class="absolute bottom-0 right-0 ma3 black no-underline f7 hover-underline hover-bg-black hover-white"
      href="https://jyoungblood.github.io/">&copy; JY ♥</a
    >
  </body>
</html>
